@import "../../../styles/settings.scss";

.root {
  background-color: $btn-color-white;
  margin-bottom: 2rem;
  margin-top: 3rem;
  display: flex;
  max-height: 431px;

  .image {
    object-fit: cover;
    max-width: 100%;
    max-height: 95%;
  }

  .button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $product-box-bgc;
    background-color: white;
    font-weight: bold;
    z-index: 1;
    padding: 10px;
  }

  .col {
    padding: 0;
  }

  .promotedText {
    text-align: center;
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 70%;
    background-color: $product-box-bgc;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
      font-size: 15px;
    }
  }

  .slider {
    display: flex;
    font-size: 20px;
    background-color: $product-box-bgc;
    a {
      flex: 50%;
      justify-content: center;
      color: white;
    }
  }

  .slider:hover {
    background-color: $primary;
  }

  @media (max-width: 768px) {
    .colProduct {
      display: none;
    }
  }
}
