@import "../../../styles/settings.scss";

.root {
  background-color: $btn-color-white;
  border: 1px solid $product-box-border;
  margin-bottom: 2rem;

  .hotDeals {
    background-color: $product-box-bgc;
    color: $btn-color-white;
    padding: 10px;
    position: relative;
  }

  .photo {
    position: relative;
    padding: 10px;
    background: {
      color: $product-box-photo-color;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $product-box-bgc;
      border-radius: 50%;
      color: $btn-color-white;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }

    .image {
      object-fit: cover;
      width: 100%;
      max-width: 250px;
      max-height: 150px;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      div {
        text-decoration: none;
        color: $product-link-color;
        display: inline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $product-link-border;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .oldPrice {
      .oldPriceValue {
        font-size: 17px;
        color: rgb(109, 106, 106);
        position: relative;
        padding: 5px;

        &:after {
          content: "";
          width: 100%;
          height: 2px;
          background: rgb(7, 7, 7);
          display: block;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }

  .dots {
    position: absolute;
    right: 0;
    top: 0;

    ul {
      margin-right: 0.5rem;
      padding: 0 0 0 1rem;
      list-style: none;
      transform: translateY(10px);

      li {
        display: inline-block;
        margin-left: 0.5rem;

        div {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: $furniture-link-bgc;
          font-size: 0;

          &.active,
          &:hover {
            background-color: $primary;
            cursor: pointer;
          }
        }
      }
    }
  }

  .featuredButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
}

.productTimer {
  visibility: hidden;
}

.root:hover {
  .featuredButton {
    visibility: visible;
    font-size: 12px;
  }

  .productTimer {
    visibility: visible;
  }
}
